<div id="container">
  <div id="navlinks">
    <a href="/projects#project1_section" class="link">Project 1</a>
    |
    <a href="/projects#project2_section" class="link">Project 2</a>
    |
    <a href="/projects#project3_section" class="link">Project 3</a>
  </div>
  <section id="project1_section" class="projectContainer">
    <h2>Project 1</h2>
    <img src="/project1.png" alt="Project 1" class="projectImage"/>
    <h3>Description</h3>
    <p class="description">Project 1 is about creating a website to display the data extracted from specific APIs.</p>
  </section>
  <section id="project2_section" class="projectContainer">
    <h2>Project 2</h2>
    <img src="/project2.png" alt="Project 2" class="projectImage"/>
    <h3>Description</h3>
    <p class="description">Project 2 is to create a fractional calculator, which provide four operations on fractions.</p>
  </section>
  <section id="project3_section" class="projectContainer">
    <h2>Project 3</h2>
    <img src="/project3.png" alt="Project 3" class="projectImage"/>
    <h3>Description</h3>
    <p class="description">Project 3 is a web-based game. User clicks on the bee shown randomly on the background image to get scores. More scores user get, more fast the bee moves.</p>
  </section>
</div>
